<%= render "skill_banner" %>
<div class="text-center m-5">
  <%= link_to "Front end", skills_path(query: "frontend"), class: "button-primary"%>
  <%= link_to "Back end", skills_path(query: "backend"), class: "button-primary" %>
  <%= link_to "All", skills_path(query: "all"), class: "button-primary" %>
</div>
<div class="container">
  <div class="row">
    <% @skills.each do |skill| %>
      <%= link_to skill_path(id: skill.id), class: "skills-cards-link col-3" do %>
        <div class="card">
          <div class="imgbx">
            <div class="mytext" style="height: 100%; width: 100%; background-color: <%= skill.color %>; color: white; display: flex; align-items: center; justify-content: center;">
              <% if skill.name == "C++" %>
                <%= image_tag "skill_logos/c.svg" %>
              <% else %>
                <%= image_tag "skill_logos/#{skill.name.downcase}.svg" %>
              <% end %>
            </div>
          </div>
          <div class="contentbx">
            <div class="content">
              <p><%= skill.name %>!</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
