<main class="show-page">

  <div class="skill-top row">

    <div class="language-card col-4">
      <%= image_tag "skill_logos/#{@skill.name == "C++" ? "c" : @skill.name.downcase}.svg", class:"skill-logo" %>
    </div>

    <div class="language-intro col-8">
      <h1> <%= @skill.name %> </h1>
      <p><%= @skill.description %></p>
    </div>
  </div>

  <div class="skill-bottom">
    <div class="skill-person">
      <%= image_tag "skill_sitting.svg" %>
      <div class="quote">
        <p>"Want to learn <%= @skill.name %>? We have learning resources for you!"</p>
      </div>
    </div>
    <% if current_user == nil %>
      <div class="see-resources-alert">
        <p>Would like to see the learning resources?</p>
        <%= link_to "Sign up", new_user_registration_path, class:"button-sign-up" %>
        <p> or </p>
        <%= link_to "Log in", new_user_session_path, class:"button-sign-up" %>
      </div>
    <% end %>

    <div class="resources">
      <%= image_tag "resources_background.png", class:"resources-background" %>

      <div class=" <%= current_user ? "" : "blur" %> resources-cards resources-card1">
        <h3>Beginner</h3>
        <ul>
          <% @beginner_resources.each do |br| %>
            <li> <%= link_to br[:name], br[:link] %> </li>
          <%end%>
        </ul>
      </div>


      <div class="<%= current_user ? "" : "blur" %> resources-cards resources-card2">
        <h3>Intermediate</h3>
        <ul>
          <% @intermediate_resources.each do |br| %>
            <li> <%= link_to br[:name], br[:link] %> </li>
          <%end%>
        </ul>
      </div>
      <div class=" <%= current_user ? "" : "blur" %> resources-cards resources-card3">
        <h3>Advanced</h3>
        <ul>
          <% @advanced_resources.each do |br| %>
            <li> <%= link_to br[:name], br[:link] %> </li>
          <%end%>
        </ul>
      </div>
    </div>

  </div>

</main>


<div class="editor"></div>
<script>
  let jar = CodeJar(document.querySelector('.editor'), Prism.highlightElement)
  const highlight = (editor: HTMLElement) => {
  const code = editor.textContent
  // Do something with code and set html.
  editor.innerHTML = code
}

let jar = CodeJar(editor, highlight)
</script>
