<main class="show-page">

  <div class="skill-top row">

    <div class="language-card col-6 pe-5">
      <div class="language-title">
        <div class="d-flex">
          <%= image_tag "skill_logos/#{@skill.name == "C++" ? "c" : @skill.name.downcase}.svg", class:"skill-logo me-2" %>
          <h1> <%= @skill.name %> </h1>
        </div>
      <% if user_signed_in? %>
        <% if !Favorite.find_by(user_id: current_user.id, skill_id: @skill.id) %>
          <%= link_to skill_favorites_path(@skill.id), method: :post do %>
            <i class="fa-regular fa-heart fa-xl"></i>
          <% end %>
        <% else %>
          <%= link_to favorite_path(Favorite.find_by(user_id: current_user.id, skill_id: @skill.id)), method: :delete do %>
            <i class="fa-solid fa-heart fa-xl"></i>
          <% end %>
        <% end %>
      <% else %>
        <i></i>
      <% end %>
      </div>

      <p><%= @skill.description %></p>

      <p class="why-like-title">Why do we like it?</p>
      <ul>
        <% @skill.bulletpoints.each do |point| %>
          <li> <%=point %> </li>
        <% end %>
      </ul>
    </div>

    <div class="language-complier col-6">
      <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@Joy333/<%= @skill.name == "C++" ? "c" : @skill.name.downcase %>?lite=true"></iframe>
    </div>
  </div>

<%# <div class="row"> %>
  <%# <div class="col-3"></div> %>
  <div class="skill-bottom">
    <div class="skill-person">
      <%= image_tag "skill_sitting.svg" %>
      <div class="quote">
        <p>"Want to learn <%= @skill.name %>? We have learning resources for you!"</p>
      </div>
    </div>
    <% if current_user == nil %>
      <div class="see-resources-alert">
        <p>Would like to see the learning resources?</p>
        <%= link_to "Sign up", new_user_registration_path, class:"button-sign-up" %>
        <p> or </p>
        <%= link_to "Log in", new_user_session_path, class:"button-sign-up" %>
      </div>
    <% end %>

    <div class="resources", style="background-image: url(<%= image_path('resources_background.png')%>);">
      <%#= image_tag "resources_background.png", class:"resources-background" %>

      <div class=" <%= current_user ? "" : "blur" %> resources-cards resources-card1">
        <h3>Beginner</h3>
        <ul>
          <% @beginner_resources.each do |br| %>
            <li> <%= link_to br[:name], br[:link], target: :_blank %> </li>
          <%end%>
        </ul>
      </div>


      <div class="<%= current_user ? "" : "blur" %> resources-cards resources-card2">
        <h3>Intermediate</h3>
        <ul>
          <% @intermediate_resources.each do |br| %>
            <li> <%= link_to br[:name], br[:link], target: :_blank %> </li>
          <%end%>
        </ul>
      </div>
      <div class=" <%= current_user ? "" : "blur" %> resources-cards resources-card3">
        <h3>Advanced</h3>
        <ul>
          <% @advanced_resources.each do |br| %>
            <li> <%= link_to br[:name], br[:link], target: :_blank %> </li>
          <%end%>
        </ul>
      </div>
    </div>

  </div>
  <%# <div class="col-3"></div> %>
<%# </div> %>
</main>


<div class="editor"></div>
<script>
  let jar = CodeJar(document.querySelector('.editor'), Prism.highlightElement)
  const highlight = (editor: HTMLElement) => {
  const code = editor.textContent
  // Do something with code and set html.
  editor.innerHTML = code
}

let jar = CodeJar(editor, highlight)
</script>
