<nav class="navbar navbar-expand-sm">
  <%= link_to root_path, class: "navbar-brand" do %>
    <h1>Proskills.</h1>
  <% end %>

  <div class="navbar-right">
    <ul class="navbar-nav">
        <li><%= link_to "Learning skills", "#", class: "nav-link" %></li>
        <li><%= link_to "Seeking jobs", "#", class: "nav-link" %></li>
      <% if user_signed_in? %>
        <li class="dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My applications", "#", class: "dropdown-item" %>
            <%= link_to "My skills", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path, class:"nav-link", id:"login-btn" %></li>
      <% end %>
    </ul>
  </div>
</nav>
