
<main class="dashboard-page">
  <%= render "dashboard_banner" %>
  </div>
  <div class="container dash-wrapper">
    <div class="dash-profile col-4">
      <%= image_tag "profile_picture.png", class: "avatar-bordered dropdown-toggle", id: "navbarDropdown" %>
      <h3><%= current_user.full_name %></h3>
      <%= Date.today %>
      <hr>
      <h5 class="header">My Interests</h5>
        <% current_user.interests.each do |interest| %>
      <p class="dash-content"><%= interest %></p>
      <% end %>
      <hr>
      <h5 class="header">My Skills</h5>
      <%current_user.skills. each do|skill| %>
        <p class="dash-content"><%= skill %></p>
      <% end %>
    </div>
    <div class="dashboard col-8">
      <div class="dash-nav">
       <h1><%= "Favorite Skills"%></h1>
      </div>
      <div class="dash-right" style="padding-top: 40px;margin-left: 30px;">
        <div class="row w-100 justify-content-around">
          <% @favorites.each do |favorite| %>
            <%= link_to skill_path(id: favorite.skill.id), class:"col-3" do %>
              <div class="card-small">
                <div style="background-color: <%= favorite.skill.color %>; color: white; display: flex; align-items: center; justify-content: center; border-radius: 5px;">
                  <% if favorite.skill.name == "C++" %>
                    <%= image_tag "skill_logos/c.svg" %>
                  <% else %>
                    <%= image_tag "skill_logos/#{favorite.skill.name.downcase}.svg" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>
  </div>
  </div>
</main>
