<main class="row m-0 landing-page">

  <div class="home-left col-lg-4 col-md-4 col-sm-12">
    <h1>Proskills.</h1>
    <p>Would you like to learn programming skills or seek programming jobs that fit your skills?</p>
    <% if current_user %>
    <h3><%= link_to "Explore", skills_path, class:"button-primary"%></h3>
    <% else %>
    <h3><%=link_to "Sign up", new_user_registration_path, class:"button-primary"%></h3>
    <% end %>
  </div>

  <div class="home-right col-lg-8 col-md-8 col-sm-12">

    <%= link_to skills_path do %>
      <div class="student">
        <%= image_tag "landing/student.png", class:"student-img" %>
        <div class="quote quote-student">
          <p>"I want to learn programming"</p>
        </div>
      </div>
    <% end %>

    <%= link_to jobs_path do %>
      <div class="jobseeker">
        <%= image_tag "landing/jobseeker.png"%>
        <div class="quote quote-jobseeker">
          <p>"I want to find a programming job"</p>
        </div>
      </div>
    <% end %>
  </div>

</main>
