<%= render "components/skill_banner" %>
<div class="container">
  <div class="row">
    <%= link_to "skills/show:id", class: "skills-cards-link" do %>
      <div class="card col-3">
        <div class="imgbx">
          <div class="mytext" style="height: 100%; width: 100%; background-color: #3483EB; color: white; display: flex; col-3 align-items: center; justify-content: center;">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
            <%# <h4 style="display: inline;">CSS</h4> %>
          </div>
        </div>
        <div class="contentbx">
          <div class="content">
            <p>CSS!</p>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to "skills/show:id", class: "skill-cards-link" do %>
      <div class="card col-3">
        <div class="imgbx">
          <div class="mytext" style="height: 100%; width: 100%; background-color: #EB8934; color: white; display: flex; col-3 align-items: center; justify-content: center;">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
            <%# <h4 style="display: inline;">HTML</h4> %>
          </div>
        </div>
        <div class="contentbx">
          <div class="content">
            <p>HTML!</p>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to "skills/show:id", class: "skill-cards-link" do %>
      <div class="card col-3">
        <div class="imgbx">
          <div class="mytext" style="height: 100%; width: 100%; background-color: #EBD934; color: white; display: flex; col-3 align-items: center; justify-content: center;">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
            <%# <h4 style="display: inline;">JavaScript</h4> %>
          </div>
        </div>
        <div class="contentbx">
          <div class="content">
            <p>JavaScript!</p>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to "skills/show:id", class: "skill-cards-link" do %>
      <div class="card col-3">
        <div class="imgbx">
          <div class="mytext" style="height: 100%; width: 100%;  background: #DDFFF7; color: white; display: flex; col-3 align-items: center; justify-content: center;">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
            <%# <h4 style="display: inline;">Python</h4> %>
          </div>
        </div>
        <div class="contentbx">
          <div class="content">
            <p>Python!</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to "skills/show:id", class: "skill-cards-link" do %>
      <div class="card col-3">
        <div class="imgbx">
          <div class="mytext" style="height: 100%; width: 100%; background-color: #858EBA; color: white; display: flex; col-3 align-items: center; justify-content: center;">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg" />
            <%# <h4 style="display: inline;">PHP</h4> %>
          </div>
        </div>
        <div class="contentbx">
          <div class="content">
            <p>PHP!</p>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to "skills/show:id", class: "skill-cards-link" do %>
      <div class="card col-3">
        <div class="imgbx">
          <div class="mytext" style="height: 100%; width: 100%; background-color: #9B2015; color: white; display: flex; col-3 align-items: center; justify-content: center;">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original.svg" />
            <%# <h4 style="display: inline;">Ruby</h4> %>
          </div>
        </div>
        <div class="contentbx">
          <div class="content">
            <p>Ruby!</p>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to "skills/show:id", class: "skill-cards-link" do %>
      <div class="card col-3">
        <div class="imgbx">
          <div class="mytext" style="height: 100%; width: 100%;  background: #DDFFF7; color: white; display: flex; col-3 align-items: center; justify-content: center;">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" />
            <%# <h4 style="display: inline;">Python</h4> %>
          </div>
        </div>
        <div class="contentbx">
          <div class="content">
            <p>C++!</p>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to "skills/show:id", class: "skill-cards-link" do %>
      <div class="card col-3">
        <div class="imgbx">
          <div class="mytext" style="height: 100%; width: 100%;  background: lightgrey; color: white; display: flex; col-3 align-items: center; justify-content: center;">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
            <%# <h4 style="display: inline;">Python</h4> %>
          </div>
        </div>
        <div class="contentbx">
          <div class="content">
            <p>SQL!</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
